Format: https://www.debian.org/doc/packaging-manuals/copyright-format/1.0/
Upstream-Name: {{upstream_name}}
Upstream-Contact: {{upstream_contact}}
Source: {{homepage}}

Files: *
Copyright: {{upstream_copyright_years}} {{upstream_copyright_holder}}
License: {{upstream_license_short}}

Files: debian/*
Copyright: {{packaging_year}} {{debfullname}} <{{debemail}}>
License: {{upstream_license_short}}

License: {{upstream_license_short}}
 <INSERT LICENSE TEXT OR REFERENCE TO COMMON-LICENSES HERE>
