---
include:
  - https://salsa.debian.org/salsa-ci-team/pipeline/raw/master/salsa-ci.yml
  - https://salsa.debian.org/salsa-ci-team/pipeline/raw/master/pipeline-jobs.yml

# NOTE (house-style): pin the template ref instead of `master` once you
# know which commit you depend on. See docs/references/salsa-ci.md.
