Version: 5
{{#has_signing_key}}
Pgp-Mode: auto
{{/has_signing_key}}
{{^has_signing_key}}
Pgp-Mode: none
{{/has_signing_key}}
{{#has_template}}
Template: {{template_name}}
{{template_specific_flags}}
{{/has_template}}
{{^has_template}}
{{watch_source_fields}}
{{/has_template}}
